{{#partial "content"}}
    <div class="padding-heading">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <!-- Card -->
                <div class="card mx-xl-5">

                    <!-- Card body -->
                    <div class="card-body">

                        <!-- Default form subscription -->
                        <form action="/event/new" method="post">
                            <p class="h4 text-center py-4">CREATE EVENT</p>

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="eventName" class="grey-text font-weight-light">Event Name</label>
                                    <input type="text" id="eventName" class="form-control" name="eventName">

                                    <br>

                                    <label for="eventLocation" class="grey-text font-weight-light">Location</label>
                                    <input type="text" id="eventLocation" name="eventLocation" class="form-control">
                                    <br>

                                    <label for="defaultFormCardEmailEx" class="grey-text font-weight-light">Event Date</label>
                                    <input type="date" id="date" class="form-control" name="eventDate">
                                    <br>

                                    <label for="defaultFormCardEmailEx" class="grey-text font-weight-light">Description</label>
                                    <input type="text" id="description" class="form-control" name="description">
                                    <br>

                                </div>
                                <div class="col-md-6">

                                    <label for="price" class="grey-text font-weight-light">Price</label>
                                    <input type="number" id="price" name="price" class="form-control">
                                    <br>

                                    <label for="input_starttime" class="grey-text font-weight-light">Start Time</label>
                                    <input placeholder="Selected time" type="time" id="startTime" class="form-control timepicker">


                                    <br>
                                    <label for="input_endtime" class="grey-text font-weight-light">End Time</label>
                                    <input placeholder="Selected time" type="time" id="endTime" class="form-control timepicker">

                                </div>
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">

                                    <input type="file" class="custom-file-input" id="event_poster"
                                           aria-describedby="inputGroupFileAddon01" name="eventPoster">
                                    <label class="custom-file-label" for="inputGroupFile01">Insert Poster</label>
                                </div>
                            </div>
                            <div class="text-center py-4 mt-3">
                                <button class="btn btn-outline-purple" type="submit">Submit<i
                                        class="fa fa-paper-plane-o ml-2"></i></button>
                            </div>
                        </form>
                        <!-- Default form subscription -->

                    </div>
                    <!-- Card body -->

                </div>
                <!-- Card -->
            </div>

        </div>


    </div>
{{/partial}}

{{> layout.hbs}}