{{#partial "content"}}
    <div class="container padding-heading">
        <div class="row">
            <div class="col-md-6">
                <div class="card">

                    <h2 class="card-title">Event Name :</h2>
                    <p class="card-text">Location : </p>
                    <p class="card-text">Date : </p>
                    <p class="card-text">Time : </p>
                    <p class="card-text">Price : </p>
                    <p class="card-text">Number of tickets : </p>




                </div>
            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
{{/partial}}

{{> layout.hbs}}