{{#partial "content"}}
    <div class="container-fluid">
        <div id="search-bar" class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="form-inline">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-lg ml-3 w-75 search" type="text" placeholder="Search"
                           aria-label="Search">
                </form>
            </div>
            <div class="col-md-2"></div>
            <div id="caraousel">
                <!--Carousel Wrapper-->
                <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-2" data-slide-to="1"></li>
                        <li data-target="#carousel-example-2" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="view">
                                <img class="d-block w-100" src="http://www.sonatech.ac.in/blog/wp-content/uploads/2016/01/main-poster.jpg"
                                     alt="First slide" style="width:100%; height: 400px;">
                                <div class="mask rgba-black-light"></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 class="h3-responsive">Rock Festival</h3>
                                <p>Saturday, 6th November 2019</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <!--Mask color-->
                            <div class="view">
                                <img class="d-block w-100" src="/images/event7.jpg"
                                     alt="Second slide" style="width:100%; height: 400px;">
                                <div class="mask rgba-black-strong"></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 class="h3-responsive">Marshmello Concert</h3>
                                <p>Friday, 24th November 2019</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <!--Mask color-->
                            <div class="view">
                                <img class="d-block w-100" src="https://pridehouston.org/wp-content/uploads/2019/04/kwirx_pridehouston-Parade-1920x1080-revised-1.png"
                                     alt="Third slide" style="width:100%; height: 400px;">
                                <div class="mask rgba-black-slight"></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 class="h3-responsive">Carnival Party</h3>
                                <p>Friday, 23rd June 2019</p>
                            </div>
                        </div>
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->

            </div>

        </div>

        <div id="eventList" class="container">
            <h1>Latest Events</h1>

            <!-- Card deck -->
            <div class="card-deck">

                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div>
                        <img class="card-img-top" src="/images/event1.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title heading-text">Pambazuka Festival</h4>
                        <!--Text-->
                        <p class="card-text">25th November 2019</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-md more-btn text-white">Read more</button>

                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div>
                        <img class="card-img-top" src="/images/event2.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title heading-text">Rock Festival</h4>
                        <!--Text-->
                        <p class="card-text">23rd October 2019</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a href="/event" type="button" class="btn btn-md more-btn text-white">Read more</a>

                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div>
                        <img class="card-img-top" src="/images/event4.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title heading-text">Hakuna Matata</h4>
                        <!--Text-->
                        <p class="card-text">27th October 2019</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-md more-btn text-white">Read more</button>

                    </div>

                </div>
                <!-- Card -->

                <div class="card mb-3">

                    <!--Card image-->
                    <div>
                        <img class="card-img-top" src="/images/poster1.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title heading-text">Houston Parade</h4>
                        <!--Text-->
                        <p class="card-text">23rd November 2019</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-md more-btn text-white">Read more</button>

                    </div>

                </div>
                <!-- Card -->

            </div>
            <!-- Card deck -->

            <!-- Card deck -->
            <div class="card-deck">

                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div>
                        <img class="card-img-top" src="/images/poster2.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title heading-text">Block Chain Workshop</h4>
                        <!--Text-->
                        <p class="card-text">25th November 2019</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a href="/event" type="button" class="btn btn-md more-btn text-white">Read more</a>

                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div>
                        <img class="card-img-top" src="/images/poster6.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title heading-text">Rock Festival</h4>
                        <!--Text-->
                        <p class="card-text">23rd October 2019</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-md more-btn text-white">Read more</button>

                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-3">

                    <!--Card image-->
                    <div>
                        <img class="card-img-top" src="/images/event1.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title heading-text">Summer Party</h4>
                        <!--Text-->
                        <p class="card-text">23rd October 2019</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-md more-btn text-white">Read more</button>

                    </div>

                </div>
                <!-- Card -->

                <div class="card mb-3">

                    <!--Card image-->
                    <div>
                        <img class="card-img-top" src="/images/poster1.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title heading-text">Haloween Party</h4>
                        <!--Text-->
                        <p class="card-text">23rd October 2019</p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-md more-btn text-white">Read more</button>

                    </div>

                </div>
                <!-- Card -->

            </div>
            <!-- Card deck -->

<!--            <div class="container row">-->
<!--                <div class="col-md-4">-->
<!--                    &lt;!&ndash; Card &ndash;&gt;-->
<!--                    <div class="card">-->

<!--                        &lt;!&ndash; Card image &ndash;&gt;-->
<!--                        <div class="view overlay">-->
<!--                            <img class="card-img-top" src="/images/.jpg" alt="Card image cap">-->
<!--                            <a href="#!">-->
<!--                                <div class="mask rgba-white-slight"></div>-->
<!--                            </a>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Card content &ndash;&gt;-->
<!--                        <div class="card-body">-->

<!--                            &lt;!&ndash; Title &ndash;&gt;-->
<!--                            <h4 class="card-title">Rock Festival</h4>-->
<!--                            &lt;!&ndash; Text &ndash;&gt;-->
<!--                            <p class="card-text">23rd October 2019</p>-->
<!--                            &lt;!&ndash; Button &ndash;&gt;-->
<!--                            <a href="#" class="btn text-white more-btn">Button</a>-->

<!--                        </div>-->

<!--                    </div>-->
<!--                    &lt;!&ndash; Card &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-md-4"></div>-->
<!--                <div class="col-md-4"></div>-->
<!--            </div>-->




        </div>

    </div>
{{/partial}}

{{> layout.hbs}}