<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Event Sasa{{/block}}</title>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Carter+One|Chewy|Patrick+Hand|Permanent+Marker|Saira+Semi+Condensed&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='/app.css' type="text/css">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>

</head>
<body>
<div>
    {{#block "nav"}}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <a class="navbar-brand nav-title" href="/">EVENT SASA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-other" href="/">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-other" href="/event/new">Create Event</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-other" href="/" data-toggle="modal" data-target = "#orangeModalSubscription1">My Events</a>
                    </li>

                </ul>
            </div>
            <div class="modal fade" id="orangeModalSubscription1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-notify main-color" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header text-center main-color">
                            <h4 class="modal-title white-text w-100 font-weight-bold py-2 heading-text">Book Event</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>

                        <!--Body-->
                        <div class="modal-body">
                            <h2 class="card-title heading-text">Event Name : Rock Festival</h2>
                            <p class="card-text page-text">Location : Carnivore</p>
                            <p class="card-text page-text">Date : Friday, 29th October 2019</p>
                            <p class="card-text page-text">Time : 1800hrs - 0600hrs</p>
                            <p class="card-text page-text">Price : 1000</p>
                            <p class="card-text page-text">Number of tickets : 2</p>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <a type="submit" class="btn main-color waves-effect" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
        </nav>

    {{/block}}


    <div id="content">
        <!--begin main template-->
        {{#block "content"}}
        {{/block}}
    </div>

</div>

<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">

        </div>
    </footer>
{{/block}}
</body>
</html>
