{{#partial "content"}}
    <div class="container">
        <!-- Grid column -->
        <div class="row">
            <div class="col-xl-4 col-md-4 mb-3 padding-heading">

                <img src="images/event2.jpg" class="img-fluid z-depth-1 w-100"
                     alt="Responsive image">

            </div>
            <div class="col-xl-4 col-md-4 mb-3 padding-heading">
                <h2 class="heading-text">Rock Festival</h2>
                <p><strong>Category</strong></p>
                <p>Musical Event</p>
                <p page-text><strong>Description</strong></p>
                <p>This is a musical Event for the lovers of Rock
                <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    More
                </a>
                </p>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body page-text">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <th scope="row" class="px-0 pb-3 pt-2">
                            <i class="fas fa-map-marker-alt living-coral-text"></i>
                        </th>
                        <td class="pb-3 pt-2 page-text">Carnivore Grounds, Nairobi</td>
                    </tr>

                    <tr class="mt-2">
                        <th scope="row" class="px-0 pb-3 pt-2">
                            <i class="fas fa-calendar living-coral-text"></i>
                        </th>
                        <td class="pb-3 pt-2 page-text">Friday, 29th October 2019</td>
                    </tr>

                    <tr class="mt-2">
                        <th scope="row" class="px-0 pb-3 pt-2">
                            <i class="far fa-clock living-coral-text"></i>
                        </th>
                        <td class="pb-3 pt-2 page-text"><span class="deep-purple-text mr-2"> Available</span>1800 hours - 0600 hours</td>
                    </tr>

                    <tr class="mt-2">
                        <th scope="row" class="px-0 pb-3 pt-2">
                            <i class="fas fa-dollar-sign living-coral-text"></i>
                        </th>
                        <td class="pb-3 pt-2 page-text"><span class="mr-2"> Price</span>Kshs 1000</td>
                    </tr>


                    </tbody>
                </table>

                <div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-notify main-color" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Header-->
                            <div class="modal-header text-center main-color">
                                <h4 class="modal-title white-text w-100 font-weight-bold py-2 heading-text">Book Event</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                </button>
                            </div>

                            <!--Body-->
                            <div class="modal-body">
                                <form>
                                    <div class="md-form mb-5">
                                        <label for="quantity">Enter number of tickets</label>
                                        <input type="number" id="quantity" name="quantity" class="form-control validate">

                                    </div>

                                </form>

                            </div>

                            <!--Footer-->
                            <div class="modal-footer justify-content-center">
                                <a type="submit" class="btn main-color waves-effect" data-dismiss="modal">Checkout</a>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>

                <div class="text-center">
                    <a href="" class="btn btn-rounded text-white more-btn" data-toggle="modal" data-target = "#orangeModalSubscription"> Book Event</a>
                </div>

            </div>

            <div class="col-xl-4 col-md-4 mb-3 padding-heading">
                <div class="card map-card">

                    <!--Google map-->
                    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                        <iframe src="https://maps.google.com/maps?q=carnivoreground&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>

            </div>

        </div>

    </div>

{{/partial}}

{{> layout.hbs}}